/dts-v1/;
/plugin/;

/ {
  compatible = "brcm,bcm2712";

  fragment@0 {
    target = <&rp1_dsi0>;
    __overlay__ {
      status = "okay";
      #address-cells = <1>;
      #size-cells = <0>;

      panel@0 {
        compatible = "boe,vs035zsm";
        reg = <0>;
        status = "okay";
      };
    };
  };
};

